* {
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}
span.qualinesFree {
	display: none
}
div.qualinesFree {
	display: none
}
span.qualines4D {
	display: inline
}
div.qualines4D {
	display: block
}
:focus {
	outline: 0
}
ul.data li p,ul.data li,span.helpCell {
	font-size: 15px
}
label {
	font-size: 18px
}
body,.page {
	background-image: url('3qual-prefs-bg.png');
	background-repeat: repeat;
	background-color: #fff
}
ul.data li.lesspadding {
	padding: 5px 5px
}
ul.data li.nopadding {
	padding: 0
}
.triangle {
	font-size: 20px;
	position: relative;
	top: 5px
}
.square {
	font-size: 16px;
	position: relative;
	top: 0
}
.circle {
	font-size: 16px;
	position: relative;
	top: 1px
}
.triangle-semi {
	font-size: 20px;
	position: relative;
	top: 5px
}
.square-semi {
	font-size: 16px;
	position: relative;
	top: 2px
}
.circle-semi {
	font-size: 16px;
	position: relative;
	top: 3px
}
.color1 {
	color: #f0c
}
.color2 {
	color: #00f
}
.color3 {
	color: brown
}
ul#boardTray {
	align: center;
	margin: 5px 0;
	min-height: 360px;
	max-height: 360px;
	background-color: #f0f0f0
}
div#board {
	margin-left: 0;
	margin-right: 0
}
table#boardTable {
	border: 0;
	border-spacing: 5px;
	margin: 0
}
div.cardGraphic {
	background-image: url('qualines-sprites.png');
	background-repeat: no-repeat
}
div.cardGraphic {
	min-height: 34px;
	max-height: 34px;
	min-width: 22px;
	max-width: 22px
}
td.cardTD {
	background-color: transparent;
	border-width: 0;
	min-height: 50px
}
div.cardCell,ul.card {
	min-height: 50px;
	max-height: 50px;
	min-width: 84px;
	max-width: 84px
}
div.cardFace {
	text-align: center;
	background-color: #fff;
	margin-top: 2px;
	min-height: 46px;
	max-height: 46px;
	font-size: 46px;
	margin-bottom: 2px;
	margin-left: 2px;
	min-width: 80px;
	max-width: 80px;
	margin-right: 2px
}
body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 13px;
	text-align: center;
	background-color: #f0f0f0;
	margin: 0;
	min-height: 388px;
	max-height: 388px;
	min-width: 320px;
	max-width: 320px
}
.page {
	display: none;
	padding: 5px 5px 25px 5px;
	position: relative;
	max-height: 378px;
	min-height: 378px;
	max-width: 310px;
	min-width: 310px
}
div#main {
	display: block
}
ul#performance {
	margin: 0 5px 0 5px
}
ul#counters {
	margin: 0 25px 5px 25px
}
div.notification {
	text-align: center;
	position: relative;
	bottom: 80px;
	left: 0;
	display: none
}
ul#notificationUl,span.notificationMessage {
	background-color: #f0f0ff
}
ul#notificationUl li {
	padding: 5px 5px
}
span.notificationMessage {
	font-size: 13px
}
span.buttonSpan {
	max-height: 25px;
	margin-right: 1px
}
div.bottomRightButtonBar {
	position: absolute;
	bottom: 5px;
	right: 5px
}
div.bottomLeftButtonBar {
	position: absolute;
	bottom: 5px;
	left: 5px
}
span.mistake {
	color: brown;
}
button.playNow {
  background-color: yellow;
  font-size: 30pt;
  border-radius: 10px;
  color: purple;
  box-shadow: 5px 5px 5px 0px #6D4A89;
}
/* Hide obsolete Market link */
.rateThisApp {
  display : none;
  visibility : hidden;
}
.startNewGame {
  color: yellow;
}
